@model List<PharmacyManagmentV2.Data.ApplicationUser>

@{
    ViewData["Title"] = "User Roles";
    Layout = "Layout";
}
<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <h5>First Name</h5>
            </th>
            <th>
                <h5>Last Name</h5>
            </th>
            <th>
                <h5>User Type</h5>
            </th>
            <th>
                <h5>Role</h5>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.UserType)
            </td>
            <td>
                <a asp-action="RoleAssign" asp-route-id="@item.Id">Assign Roles</a> 
            </td>
        </tr>
}
    </tbody>
</table>
