@model EntityLayer.Concrete.Medicine

@{
    ViewData["Title"] = "Create";
    Layout = "Layout";
}

<h1>Create</h1>

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenericName" class="control-label"></label>
                <input asp-for="GenericName" class="form-control" />
                <span asp-validation-for="GenericName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Id" class="control-label"></label>
                <select asp-for="Category.Id" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.Id" class="control-label"></label>
                <select asp-for="Manufacturer.Id" class ="form-control" asp-items="ViewBag.ManufacturerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Shelf" class="control-label"></label>
                <input asp-for="Shelf" class="form-control" />
                <span asp-validation-for="Shelf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerPrice" class="control-label"></label>
                <input asp-for="ManufacturerPrice" class="form-control" />
                <span asp-validation-for="ManufacturerPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strengh" class="control-label"></label>
                <input asp-for="Strengh" class="form-control" />
                <span asp-validation-for="Strengh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type.Id" class="control-label"></label>
                <select asp-for="Type.Id" class ="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Unit.Id" class="control-label"></label>
                <select asp-for="Unit.Id" class ="form-control" asp-items="ViewBag.UnitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expriy" class="control-label"></label>
                <input asp-for="Expriy" class="form-control" />
                <span asp-validation-for="Expriy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaf.Id" class="control-label"></label>
                <select asp-for="Leaf.Id" class ="form-control" asp-items="ViewBag.LeafId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Invoice.Id" class="control-label"></label>
                <select asp-for="Invoice.Id" class ="form-control" asp-items="ViewBag.SellId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Purchase.Id" class="control-label"></label>
                <select asp-for="Purchase.Id" class ="form-control" asp-items="ViewBag.PurchaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatAt" class="control-label"></label>
                <input asp-for="CreatAt" class="form-control" />
                <span asp-validation-for="CreatAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
