@model PharmacyManagmentV2.Models.RegisterViewModel
@{
    ViewData["Title"] = "Edit User";
    Layout = "Layout";


}

<h1>Edit User</h1>

<div class="row">
    <div class="col-md-9" style="margin-left: auto; margin-right: auto;">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Firtname"></label>
                <input asp-for="Firtname" class="form-control" />
                <span asp-validation-for="Firtname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <select asp-for="UserType" class="form-control">
                <option value="">Select a User Type</option>
                <option value="1">Administor</option>
                <option value="2">Employee</option>
                <option value="3">Advisor</option>
            </select>

            <div class="form-group">
                <label asp-for="Address.City"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Zip"></label>
                <input asp-for="Address.Zip" class="form-control" />
                <span asp-validation-for="Address.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address .Address1"></label>
                <input asp-for="Address.Address1" class="form-control" />
                <span asp-validation-for="Address.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Address2"></label>
                <input asp-for="Address.Address2" class="form-control" />
                <span asp-validation-for="Address.Address2" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-primary">Save</button>
        </form>

    </div>
</div>