<nav class="sidebar sidebar-bunker">
    <div class="sidebar-header">
        <a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo" class="sidebar-brand">
            <img src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/img/favicon/1612675588_2e4ae5951792e016e4c5.png" class="sidebar-brand_icon" alt="">
            <span class="sidebar-brand_text logo-text">pharmacare</span>
        </a>
    </div>
    <div class="profile-element d-flex align-items-center flex-shrink-0">
        <div class="avatar online">
            <img src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/img/user/1613018891_7a55a264af9bbd369b54.png" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="profile-text">
            <h6 class="m-0">Urmi paul</h6>
            <span>urmi@em.com</span>
        </div>
    </div>
    <div class="sidebar-body custom-sidebar ps ps--active-y">
        <nav class="sidebar-nav">
            <ul class="metismenu">


                <li class="mm-active"><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo" aria-expanded="true"><i class="fas fa-home" style="background-color:transparent"></i> Dashboard</a></li>

                <li class="">
                    <a class="has-arrow material-ripple" href="#">
                        <i class="fas fa-users"></i>
                        Customer
                    </a>
                    <ul class="nav-second-level mm-collapse">
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/customer/add_customer">Add Customer</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/customer/customer_list"> Customer List</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/customer/credit_customer"> Credit Customer</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/customer/paid_customer"> Paid Customer</a></li>
                    </ul>
                </li>


                <li class="">
                    <a class="has-arrow material-ripple" href="#">
                        <i class="fas fa-industry"></i>
                        Manufacturer
                    </a>
                    <ul class="nav-second-level mm-collapse">
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/manufacturer/add_manufacturer">Add Manufacturer</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/manufacturer/manufacturer_list"> Manufacturer List</a></li>
                    </ul>
                </li>


                <li class="">
                    <a class="has-arrow material-ripple" href="#">
                        <i class="fas fa-pills mr-2"></i>
                        Medicine
                    </a>
                    <ul class="nav-second-level mm-collapse">
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/medicine/add_category">Add Category</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/medicine/category_list"> Category List</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/medicine/add_unit">Add Unit</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/medicine/unit_list"> Unit List</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/medicine/add_type">Add Type</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/medicine/type_list"> Type List</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/medicine/leaf_setting"> Leaf Setting</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/medicine/add_medicine"> Add Medicine</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/medicine/medicine_list"> Medicine List</a></li>
                    </ul>
                </li>


                <li class="">
                    <a class="has-arrow material-ripple" href="#">
                        <i class="fas fa-store"></i>
                        Purchase
                    </a>
                    <ul class="nav-second-level mm-collapse">
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/purchase/add_purchase">Add Purchase</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/purchase/purchase_list"> Purchase List</a></li>
                    </ul>
                </li>

                <li class="">
                    <a class="has-arrow material-ripple" href="#">
                        <i class="fas fa-shopping-cart"></i>
                        Sells
                    </a>
                    <ul class="nav-second-level mm-collapse">
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/purchase/add_purchase">Add Purchase</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/purchase/purchase_list"> Purchase List</a></li>
                    </ul>
                </li>

                <li class="">
                    <a class="has-arrow material-ripple" href="#">
                        <i class="fas fa-user-shield"></i>
                        Users
                    </a>
                    <ul class="nav-second-level mm-collapse">
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/purchase/add_purchase">Add Purchase</a></li>
                        <li class=""><a href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/purchase/purchase_list"> Purchase List</a></li>
                    </ul>
                </li>





            </ul>
        </nav>
        <div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 475px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 282px;"></div></div>
    </div>
</nav>