@model PharmacyManagmentV2.Models.PurchaseModel

@{
    ViewData["Title"] = "Purchase";
    Layout = "Layout";
}

<h1>Purchase</h1>

<form action="Purchase" method="post">
    <div class="form-group">

    </div>
</form>


