@model PharmacyManagmentV2.Models.PurchaseModel

@{
    ViewData["Title"] = "Purchase";
    Layout = "Layout";
}

<h1>Purchase</h1>

<form action="Purchase" method="post">
    <div class="form-group">
        <label asp-for="Pharmacy" class="form-control"></label>   
        <input asp-for="Pharmacy.Name" class="form-control" />
    </div>
</form>


